/*
    General (body, h1)
*/

body {
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
    scroll-behavior: smooth;
    /*
        background-color: #D8DDEf;
    */
    
    /*
    background-image: url('christine-kozak.jpg');
    background-size: 1824px 1216px;
    color: black;
    */
}


    /*
        font-family: "Century Gothic", "Gills Sans", Arial, sans-serif;
    *

/*
    Navigation Bar
*/

#nav-header {
    margin: 10px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items:  center;
    background-color: #A0A4B8;
    justify-content: center;
}
#nav-header ul {
    /*
    float: left;
*/
padding: 5px;
list-style-type: none;
margin: 10px;
border-radius: 2px;
}

#nav-header ul li{
 
    display: inline;
}

#nav-header ul li a{
    font-size: 20px;
    text-decoration: none;
}
/* Navigation Bar Buttons */
.nav-button a {
    padding: 0px 40px 0px 40px;
    color: black;
    transition: background-color 1s, color 0.015s;
    border-radius: 2px;
}

.nav-button a:hover{
    background-color: black;
    color: white;
}



/*
    Banner in middle
*/
.mid-banner {   
    background-color: #A0A4B8;
    height: 400px;
    margin-left: auto;
    color: black;
    margin:  0px 100px 30px 100px;
}

#mid-text {

    text-align: center;
    font-size: 24px;
    position: relative;
    margin-top:40px;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px;
    width: auto;
    color: black;
}

/*  
    About me, Projects
*/

.mid-sec {
    /*
    height: 700px;
    */

    margin: 0px 50px 0px 50px;
    border-bottom-color: black;
    border-top-color: black;
    border: solid;
    border-right-color: white;
    border-left-color: white;
}


.under-txt {
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.cen-title{
    text-align: center;
    font-size: 24px;
    padding: 10px;
    margin: 20px 0px 40px 0px;
    scroll-behavior: smooth;
}

.p-graph{
    display: flex;
    text-align: left;
    justify-content: center;
    align-content: center;
}

#info-me{
    width: 400px;
}

#img-me img{
    height: 300px;
    width: 300px;
    margin: 20px;
}
.pers-info {
}
.img-info{
    display: flex;
    justify-content: center;
}

.rows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.columns {
    height: 400px;
    width: 300px;
    background-color: gray;
    border-radius: 20px;
    margin: 20px;
}

#footer {
    height: 200px;
    background-color: #7293A0;
}

#tButton {
    /*
        display: none;
    */
    opacity: 0.0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    font-size: 10px;
    color: black;
    width: 40px;
}
.resume-button {
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: solid;
    border-color: gray;
    border-radius: 20px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    transition: opacity .15s ease-in;
}
.resume-button:hover{
    opacity: 0.90;
}


#resume-file{
    display: flex;
    justify-content: center;
}
.row-exp{
    display: flex;
    justify-content: center;
}
.title-exp{

}
.p-exp{
    width: 500px;
}